<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training and Placement Cell - MAC</title>

    <!-- CSS Stylesheet -->

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="images/logo.png">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!--Scroll Box-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.3.1/smooth-scrollbar.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.3.1/plugins/overscroll.js'></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.min.js"></script>


</head>

<body class="mobile">
    <section class="top container-fluid">

        <!-- Navigtaion Bar -->
        <nav>
            <div class="container nav-wrapper">
                <div class="brand">
                    <div class="nav_img">
                        <img src="images/logo.png" alt="logo">
                    </div>
                    <span style="margin-right: 10px; text-decoration: none;"></span><strong>Training and Placement
                        Cell</strong></span>
                </div>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div style="margin-top: 12px; margin-left: 10px; margin-right: -20px">
                    <ul class="nav-list">
                        <li class="navListItems">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="navListItems active"><a href="/notices">Notice</a></li>
                        </li>
                        <li class="navListItems"><a href="/featured">Featured</a></li>
                        </li>
                        <li class="navListItems"><a href="/register">Companies</a></li>
                        <li class="navListItems">
                            <a href="Recruit.html">Why Recruit?</a>
                        </li>
                        <li class="navListItems"><a href="Team.html">Our Team</a></li>
                        <li class="navListItems"><a href="/events">Events</a></li>
                        <li class="navListItems"><a href="ContactUs.html#ContactSection">Contact Us</a></li>
                        <li class="navListItems"><a href="/login">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- Floating Icons-->

    <div class="iconWrapper">
        <ul>
            <li class="iconElement facebook">
                <a href="https://www.facebook.com/MACTPC/"><i class="fa fa-facebook"></i></a>
                <div class="iconSlider">
                    <p>facebook</p>
                </div>
            </li>

            <li class="iconElement instagram">
                <a href="https://instagram.com/mac.tpc?igshid=NDc0ODY0MjQ="><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>instagram</p>
                </div>
            </li>

            <li class="iconElement gmail">
                <a href="mailto:placements@mac.du.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>gmail</p>
                </div>
            </li>

            <li class=" iconElement linkedin">
                <a href="https://www.linkedin.com/company/training-and-placement-cell-maharaja-agrasen-college/"><i
                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>linkedin</p>
                </div>
            </li>

            <li class="iconElement whatsapp">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeg9aoEhwPVzqBhoGbmRFHE_J3ihmfsNlhfqtrTPifRgI8q4w/viewform"><i
                    class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>whatsapp</p>
                </div>
            </li>
        </ul>
    </div>


    <!-- Notice Box -->
    <section class="container" id="scrollbox">
        <div class="wrapper">
            <div class="NoticeHead"><br>
                <div class="HeadContent" id="NoticeBoard">Notice Board</div>
                <div class="HeadLine"></div>
            </div>
            <section class="header container">
                <div>
                    <h1>Your Gateway to Growth</h1>
                    <h4>Stay Updated with Training and Placement Opportunities and Events!!!</h4>
            </section><br><br>
            <div>
                <div class="scroll-list__wrp js-scroll-content js-scroll-list">
                    <% for (var i=notices.length - 1; i>= 0; i--) { %>
                        <div class="scroll-list__item js-scroll-list-item">
                            <div class="desc">
                                <div class="notice-header">
                                    <h4 class="NoticeHead">
                                        <%= notices[i].title %>
                                    </h4>
                                </div>
                                <p class="NoticeDes">
                                    <%= notices[i].description %>
                                </p>
                                <div class="content-container">
                                    <p class="NoticeContent-truncated">
                                        <%= truncateContent(notices[i].content) %>
                                    </p>
                                    <button class="btns read-more-btn" data-toggle="modal"
                                        data-target="#readMoreModal<%= notices[i].id %>">
                                        Read more
                                    </button>
                                    <% if (showActions) { %>
                                        <div class="button-container">
                                            <button class="btns edit-btn" data-toggle="modal"
                                                data-target="#editNoticeModal<%= notices[i].id %>">
                                                Edit
                                            </button>
                                            <button class="btns delete-btn" data-toggle="modal"
                                                data-target="#deleteNoticeModal<%= notices[i].id %>">
                                                Delete
                                            </button>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </section><br>

    <h5 class="container message">To Update Notice : <a href="/login" id="loginLink">Login Here (for Members
            only)</a><br><br>

        <!-- Add Notice Button -->
        <% if (showActions) { %>
            <div class="middleBtn"><br>
                <button class="btns add-notice-btn" data-toggle="modal" data-target="#addNoticeModal">Add
                    Notice</button>
            </div><br><br>

            <!-- Add Notice Modal -->
            <div class="modal" id="addNoticeModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Notice</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/notices" method="post">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" name="title" id="title" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea name="description" id="description" class="form-control"
                                        required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea name="content" id="content" class="form-control" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

                <% for (var i=notices.length - 1; i>= 0; i--) { %>
                    <% if (showActions) { %>
                        <!-- Edit Notice Modal -->
                        <div class="modal" id="editNoticeModal<%= notices[i].id %>" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Notice</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/notices/<%= notices[i].id %>" method="post">
                                            <div class="form-group">
                                                <label for="edit-title">Title</label>
                                                <input type="text" name="title" id="edit-title" class="form-control"
                                                    value="<%= notices[i].title %>" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-description">Description</label>
                                                <textarea name="description" id="edit-description" class="form-control"
                                                    required><%= notices[i].description %></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-content">Content</label>
                                                <textarea name="content" id="edit-content" class="form-control"
                                                    required><%= notices[i].content %></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Update Notice</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Notice Modal -->
                        <div class="modal" id="deleteNoticeModal<%= notices[i].id %>" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Notice</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this notice?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="/notices/<%= notices[i].id %>/delete" method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>

                                <section class="readModal">
                                    <!-- Read More Modal -->
                                    <% for (var i=notices.length - 1; i>= 0; i--) { %>
                                        <div class="modal" id="readMoreModal<%= notices[i].id %>" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            <%= notices[i].title %>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <%= notices[i].content %>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </section>


                                <!-- Javascript -->
                                <script src="js/code.js"></script>

</body>
</html>